@model TourismManagementSystem.Models.User


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
            {
                <div>
                    @Html.LabelFor(m => m.FullName)
                    @Html.TextBoxFor(m => m.FullName)
                </div>
                <div>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div>
                    @Html.Label("Role")
                    @Html.DropDownListFor(m => m.Role, new SelectList(new List<string> {"Tourist", "Agency"}),
                    "Select Role")
                </div>
                <input type="submit" value="Register" />
            }

